body{
    font-family: bombard;
}
.headerRight{
    display: flex;
    margin-left: auto;
}
.header{
    background-color: #047dc4;
    color: white;
    display: flex;
}
.headerLeft{
    display: flex;
}
.languePickerDropDown > ul{
    list-style-type: none;
    position: absolute;
}
